/*CSS Styles*/

.flex {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    flex-wrap: nowrap;
}
a, a:link, a:visited, a:focus, a:active a:not(.footer)
    {
        text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }  
.leftheader
    {
        color: #222;
        float:left;
        margin-top: 21px;
        margin-left: 24px;
        margin-right: -8px;
        padding:2px;
    }
.navbottom
    {
        background-color:#f2f2f2;
        overflow:hidden;
        position:fixed;
        bottom: 0;
        width: 100%;
        height: 47px;

    }
.rightheader
    {
        color: #222;
        float: right;
        margin-top: 24px;
        margin-right: 101px;
        margin-left: -86px;
        font-size: 13px;
    }
.leftfooter
    {
        color:#70757a;
        float:left;
        margin-top: 14px;
        margin-left: 33px;
        margin-right: -7px;
        padding:2px;
    }
.rightfooter
    {
        color:#70757a;
        float:right;
        margin-top: 14px;
        margin-right: 13px;
        margin-left: 13px;
        padding:2px;
        
    }
a:hover 
    {
            text-decoration: underline;
    }   
body, input, button 
    {
        font-size: 14px;
        font-family: arial, sans-serif;
    }
#logo 
    {
        display: grid;
        justify-content: center;
        margin-top: 100px;
        cursor:pointer;
    }
#search-bar 
    {
        display:grid;
        justify-content: center;
        margin-top: 39px; 
    }
.searchicon
{
    display: grid;
    height:20px;
    width:20px;
}

#bar 
    {
        
        border: 1px solid #dfe1e5;
        width:584px;
        height:44px;
        border-radius: 24px;
        background-color:white;
    }
#bar:focus{
       outline: none;
    }
#buttons 
    {
        display: flex;
        justify-content: center;
        margin-top: 1px;
        
    }
.searchbuttons
    {
        background-color: #f8f9fa;
        border: 1px solid #f8f9fa;
        border-radius:5px;
        min-height: 36px;
        height:36px;
        min-width: 54px;
        cursor:pointer;
        margin: 11px 4px;
        padding:0px 16px;
    }
ul 
    {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
li 
    {
      border-right: 20px solid white;
    }
.footer 
    {
      position: fixed;
      left:30px;
      bottom:0;
      color: #70757a;
      background-color: #f2f2f2;
    }
input:hover
{
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.15)
}

